.sidebar {
    background-color: #073574 !important;
    border: 1px solid #073574 !important;
}

.sidebar .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    background-color:#073574 !important;
    border: 1px solid #073574 !important;
}

.items div {
    width: 45%;
    height: 180px;
    margin-bottom: 12px;
}